<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
        <header>
      <div class="login">
      <nav>
        <div class="logo"><h1 class='animate__animated animate__heartBeat'><a class = "x" href="http://mnnit.ac.in">MNNIT Allahabad</a></h1></div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="#">Team</a>
            <a href="/contact">Contact</a>
            {{#if user}}
              {{#if user.Admin}}
            <a href="/admin">Profile Info</a>
            {{else}}{{#if user.abassador}}
            <a href="/campus">Profile Info</a>
             {{else}}
             <a href="/user">Profile Info</a>
            {{/if}} {{/if}}
        {{/if}}
            
            {{#if user}}
            <form action="/logout" method="post">
          <li class="pt-2"><button type="submit">Logout</button></li>
        </form>
             {{else}}
            <a href="/login">Login</a>
            {{!-- {{#else}}
            <a href="/login">Login</a> --}}
            {{/if}}
        </div>
        </nav>
        <h1>404 Page Not Found</h1>
      </div>
      
    </header>
     
    
       
    </body>
</html>