<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <title></title>
  </head>
  <body>
    <!-- <div id="overlay">
      <div class="spinner">
        <img src="assets/mainlogo.png" alt="Loading..." />
      </div>
    </div>
    <iframe width="960" height="315" src="assets/mainlogo.png" frameborder="0" allowfullscreen></iframe>
frameborder="0" allowfullscreen></iframe> -->
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
<!--
<iframe width="960" height="315" src="https://www.google.co.in/url?sa=i&url=https%3A%2F%2Fen.wiktionary.org%2Fwiki%2FY&psig=AOvVaw2YdpLoDcBcG2Q8kbACZh_H&ust=1602479697263000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIjR7pvkq-wCFQAAAAAdAAAAABAD" frameborder="0" allowfullscreen></iframe>
frameborder="0" allowfullscreen></iframe> -->
    <header>
      <div class="home">
        <nav>
        <div class="logo"><h1 class='animate__animated animate__heartBeat'><a href='http://www.mnnit.ac.in/'>MNNIT Allahabad</a></h1></div>
        {{#if user}}
        <div class="logo"><h2 class='animate__animated animate__heartBeat'>Hey {{user.name}}!</h2></div>
        {{/if}}
        <div class="menu">
            <a href="/">Home</a>
            <a href="/events">Events</a>
            <a href="#">Team</a>
            <a href="/contact">Contact Us</a>
            {{#if user}}
              {{#if user.Admin}}
            <a href="/admin">ADMIN</a>
            <a href='/requests'>Requests</a>
            {{else}}{{#if user.abassador}}
            <a href="/campus">CAMPUS AMB</a>
            
             {{else}}
             <a href="/user">USER</a>
             
            {{/if}} {{/if}}
        {{/if}}
            
            {{#if user}}
            <form action="/logout" method="post">
          <li class="pt-2"><button type="submit">Logout</button></li>
        </form>
             {{else}}
            <a href="/login">Login</a>
            {{!-- {{#else}}
            <a href="/login">Login</a> --}}
            {{/if}}
        </div>
        </nav>
        <main>
          <section>
            <h3>Welcome to Euphoria 2k20!</h3>
            <h1>An extravaganza of <span class='change_content'> </span></h1>
            <p>Tagline of Fest</p>
            {{#if user}}
            <a href="/register" class="btnone">Register</a>
            {{/if}}
            <a href="/events" class="btntwo">Events</a>
            <p id="timer"><span></span></p>
          </section>
        </main>
      </div>
    

    <section>
      <div class="part2">
       <p class='text'>Mood Indigo, Asia's largest college cultural festival, has developed over the years into so much more: a melting pot of Indian and global culture, a launchpad for upcoming artists, a spectacular showcase of talent, an epitome of incredible human experience: where you can never see it all, but what you do see lasts a lifetime, where friendships are born and memories are made amidst the gleam of several bonfires as the nights intensify.</p>
       </div>
    </section>
    <section>
      <div class="part3">
       <p class='text'>“Music is what feelings sound like.”
          In a world full of chaos, Euphoria 2020 strives to bring along all of you and invigorate you with extreme amounts of pure happiness and ecstacy, and also serve as an escape from all the bitterness that life hands down to all of us. We promise you an incredible experience filled with love, happiness and thrill while you live the best 4 days of your lives!
          And nothing's better than a ballad: a sentimental song with a story to tell, to describe the incredible human experience that Euphoria 2020 promises to provide.
          Presenting, Euphoria 2020: A Ballad of Ecstacy.
        </p>
        </div>
    </section>
    </header>
  </body>

  <script type="text/javascript">
      let progress = document.getElementById('progressbar');
        let totalHeight = document.body.scrollHeight - window.innerHeight;
        window.onscroll = function(){
          let progressHeight = (window.pageYOffset / totalHeight) *100;
          progress.style.height = progressHeight + "%";
        }
  </script>
  <script>
   var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      document.getElementById("timer").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("timer").innerHTML = "EXPIRED";
      }
    }, 1000);
  </script>
    <script type="text/javascript">
    var overlay = document.getElementById("overlay");
    window.addEventListener('load', function(){
      overlay.style.display = 'none';
    })
  </script>
</html>
