<h1> Sign up form </h1> 
  
<form action="" method="POST"> 
    <input type="text" name="name" 
        placeholder="name"> 
        <input type="text" name="email" 
        placeholder="email"> 
    <input type="password" name="password" 
        placeholder="password"> 
        <input type="text" name="CollegeName" 
        placeholder="CollegeName"> 
    <button type="submit" >Submit</button> 
</form> 
  
<h1>This is home page</h1> 
  
<li><a href="/users">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 
<li><a href="/logout">Logout</a></li> 